<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2022-2023</p>
                        <div class="h5">DIPLOMA</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Diploma (Department Of Technical Education)</div>
                            <h4 class="category">CS2I-3IAC</h4>
                            <ul>
                                    <li>Completed  <b>Diploma</b> in <b>Computer Science</b> with <b>90%</b> aggregate.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2020-2022</p>
                        <div class="h5">University Of Coast</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">IUC-3IAC</div>
                                <h4 class="category">Bts Genie logiciel</h4>
                                <ul>
                                        <li>Completed <b>Bts</b> in <b>3IAC</b> with <b>90% </b>aggregate.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2019-2020</p>
                        <div class="h5">Sedcondary School</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Sedcondary School(Lycee de Deido)</div>
                                <h4 class="category">Lycee bilingue de Deido</h4>
                                <ul>
                                        <li>Completed  BAC with <b>11 average</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
